{% extends "base.html" %}

{% block title %}Search{% endblock %}

<div style="background-color: #f2f2f2; padding: 15px; margin-bottom: 30px; margin-top: 20px;">
{% block page_content %}
    <div style="width:75%; margin-left:auto; margin-right:auto;">
        <h2 style="color:#f2f2f2">Поиск</h2>
        <input></input>
        <h3 style="color:#f2f2f2">Фильтры</h3>
        <div class="search-container">
            <p style="margin-top: 20px;">Работа по выбранному фандому:</p>
            <input list="fandoms" name="fandom">
            <datalist id="fandoms">
                <option value="The Witcher">Ведьмак</option>
                <option value="Original">Ориджинал</option>
            </datalist>
            <p style="margin-top: 20px;">Работа содержит жанры:</p>
            {% include "embed/_genres.html" %}
            <p style="margin-top: 20px;">Работа соответствует выбранным возрастным ограничениям:</p>
            {% include "embed/_age_restr.html" %}
        </div>
        <button style="margin-top: 20px;">Искать</button>

    </div>
{% endblock %}
<div>
