{% extends "base.html" %}

{% block title %}User - {{user.username}}{% endblock %}

{% block page_content %}
<div style="width:75%; margin:auto;">

    {% if current_user.role_id == 1  and current_user.id != user.id %}
    <form method='POST'>
        {% if user.role_id == 2 %}
        <button name=ban value="ban">Забанить нахуй.</button>
        {% endif %}
        {% if user.role_id == 3 %}
        <button name=ban value="no-ban">Разбанить.</button>
        {% endif %}
    </form>
    {% endif %}
    <h2>@{{ user.username }}</h2>
    <hr>
    {% if user.role_id != 3 %}
        {% if texts_cnt > 0 %}
    <h3>Работы автора: </h3>
    {% for text in texts %}
    <div class="text_preview">
        <a href="/text_view/{{text.id}}"><h3>{{text.title}}</h3></a>
        <p><b>Фандом:</b> {% for fandom in text.get_fandoms() %} {{fandom.rus_name}}{% endfor %}</p>
        <p><b>Метки:</b> {% for tag in text.get_tags() %} {{tag.rus_name}}{% endfor %}</p>
        <p><b>Дата публикации:</b> {{text.release_date}}</p>
        <hr>
        <p>{{text.descr}}</p>
        {% if current_user.id == user.id %}
        <form method='POST'>
        <button name=remove value={{text.id}} style="padding:0; color:#ff7f50">Удалить</button>
        </form>
        {% endif %}
    </div>
    {% endfor %}
    {% endif %}
    {% if texts_cnt == 0 %}
    <p>У этого пользователя нет опубликованных текстов.</p>
    {% endif %}
    {% endif %}
    {% if user.role_id == 3 %}
    <p>Пользователь был заблокирован модератором сообщества.</p>
    {% endif %}
</div>
    {% endblock %}

